.burger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
  overflow: hidden;
  gap: 5px;
  z-index: 1001;
}

.burger-menu .bar {
  width: 25px;
  height: 3px;
  background-color: #ffffffc9;
  border-radius: 2px;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease,
    background 0.3s ease;
}

.burger-menu.open .bar {
  background-color: #ffffff;
}

.burger-menu.open .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.burger-menu.open .bar:nth-child(2) {
  opacity: 0;
}

.burger-menu.open .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.corner-svg {
  position: absolute;
  top: 67.5px;
  right: 97.5px;
  transform: rotate(-90deg);
  z-index: 1502;
}


@media screen and (max-width: 1100px) {
  .burger-menu {
    display: flex;
  }

  .nav-links {
    position: absolute;
    flex-direction: column;
    top: 70px;
    right: 0;
    background: #8f8f8f27;
    box-shadow: inset 0 -50px 10px -5px #00000018;
    backdrop-filter: blur(32px);
    -webkit-backdrop-filter: blur(32px);
    gap: 20px;
    width: 100px;
    height: 0;
    border-radius: 0 0 18px 18px;
    overflow: hidden;
  }

  .nav-links .link:first-child {
    margin-top: 15px;
  }

  .nav-links .link {
    text-align: center;
    font-size: 1rem;
  }

  .nav-links.open {
    height: 185px;
  }
}