.input-btn {
  background-color: var(--primary-color);
  color: #ffffff;
  font-weight: 600;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 20px 15px;
  font-size: 1.2rem !important;
  box-shadow: var(--box-s-border);
  border: 1px solid transparent;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  transition: all 0.2s ease-in-out;
}

.input-btn:hover {
  background-color: #1a52b8;
}
