.footer {
  background-color: var(--bg);
  color: var(--text-color);
  backdrop-filter: blur(36px);
  -webkit-backdrop-filter: blur(36px);
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  text-align: center;
  font-size: 1.2rem;
  border-top: 1px solid var(--border);
  border-left: 1px solid var(--border);
  margin: 0 10px 10px 10px;
  border-radius: 18px;
}

.footer p {
  margin: 5px 0;
  font-size: .8rem;
}

@media screen and (max-width: 560px) {
  .footer {
    font-size: 0.7rem;
    padding: 15px 0;
  }
}
