.about-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  color: var(--text);
}

.about-title {
  font-size: clamp(2rem, calc(6vw - 1rem), 3rem);
  text-align: center;
  margin-bottom: 20px;
}

.about-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-muted);
}